NODE_ENV=development
APP_HOST=0.0.0.0
APP_PORT=8080
MOSQUITTO_HOST=localhost
MOSQUITTO_PORT=1883
MOSQUITTO_WS_PORT=9001
POSTGRES_HOST=localhost
POSTGRES_DB=boilerplate_db
POSTGRES_PASSWORD=postgres
POSTGRES_PORT=5432
POSTGRES_USER=user
REDIS_HOST=redis://localhost
REDIS_PORT=6379
REDIS_CACHE_TIMEOUT=600